# Direct dependencies are pinned to the versions exercised by the local,
# semantic, and live reliability gates. Open-ended minimums made a clean
# production rebuild silently adopt breaking parser/framework releases.
duckdb==1.5.1
fastapi==0.128.4
uvicorn==0.40.0
pandas==2.2.2
pyarrow==23.0.1
python-dotenv==1.2.1
pydantic[email]==2.12.5
PyJWT==2.10.1
sqlglot==30.6.0
PyYAML==6.0.1
slowapi==0.1.9
sentry-sdk==2.18.0
